<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1> Form </h1>
    <form name="form" method="POST" action="/form">
        <input type="text" name="name" placeholder="Enter UserName" required>
        <br><br>
        <input type="date" name="dob" placeholder="Enter Date of Birth" required>
        <br><br>
        
        <input type="submit">
    </form>
    <a href="/download"><button >Download File</button></a>

    
</body>
</html>