<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Folders</h1>
    <%data.forEach((item)=>{%>
        <p><%=item.Name%></p>
       
        <a href="/delete/<%=item.id%>">delete</a>
        <a href ="/edit/<%=item.id%>">update</a>
        
        <%})%>
      </div>
       <br>
       <br>
      <div>
        <a href="/create">Create</a>
      </div>
    
    
</body>
</html>