*{
    margin:10px;
}
#fname{
    font-size:20px;
    padding:10px 15px 10px 15px;
    margin:10px;
    text-align: center;
   
}
#lname{
    font-size: 20px;
    padding:10px 15px 10px 15px;
    margin:10px;
}

#button{
    font-size: 20px;
    padding:10px 15px 10px 15px;
    
    background-color: rgb(191, 231, 245);

}
#render{
    font-size: 20px;
    padding:10px 15px 10px 15px;
    
    background-color: rgb(191, 231, 245);
   
}

.firstname{
    /* padding:30px 20px 30px 20px; */
    font-size:20px;   
    font-weight:bold;
    display: flex;
    justify-content:center;
}

.table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size:30px;
    width: 40%;  
} 
td{
    text-align: center;
}
.edit{
    background-color: green;
    font-size: large;
    align-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.delete{
    background-color: red;
    font-size: large;
    color: white;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
#delete{
    background-color: red;
    font-size: large;
    color: white;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}






